.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titleWithRowNums {
  margin-left: 0.5em;
  color: #e4e4e4;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0;
  margin-bottom: 0;
}

.titleNoRowNums {
  color: #e4e4e4;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0;
  margin-bottom: 0;
}
.subtitleWithRowNums {
  margin-left: 0.5em;
  color: #70aacb;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitleNoRowNums {
  color: #70aacb;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0;
  margin-bottom: 0;
}

.tableNoRowNums {
  border-collapse: collapse;
  min-width: 20vh;
}

.tableWithRowNums {
  border-collapse: collapse;
  margin-right: 0.7em;
  min-width: 20vh;
}

td {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

td:before {
  content: '';
  display: block; 
}

.normalCell {
  border: 1px solid #393e46;
  color: #e4e4e4;
}

.normalCellBadInput {
  border: 1px solid #393e46;
  color: #7b4949;
}

.numLabelCell {
  color: #70aacb;
  text-align: right;
  padding-right: 0.6em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.numLabelCellHeader:before {
  width: 1.2em;
}

.normalCellHeader:before {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  content: '';
  display: block;
  width: 4em;
}

.normalCellHeader {
  height: 1.8em;
  color: #70aacb;
  text-transform: uppercase;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.normalCellFooter {
  height: 1.8em;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #e4e4e4;
  text-transform: uppercase;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dealerColumnHighlight {
  background-color: #233742;
  color: #e4e4e4;
}

label {
  font-size: 0.8em;
}

input {
  font-size: 0.8em;
  padding: 0.3em;
  margin-left: 0.5em;
  height: 1.3em;
  vertical-align: middle;
}

.checkbox-input {
  width: 1.8em;
}

.dropdown-select {
  font-size: 0.8em;
  margin-right: 0.7em;
  height: 1.8em;
  width: 3em;
  vertical-align: middle;
}

.dropdown-select-presets {
  font-size: 0.8em;
  margin-left: 0.7em;
  height: 1.8em;
  width: 10em;
  vertical-align: middle;
}

.dropdown-select-game-type {
  font-size: 0.9em;
  height: 2.6em;
  width: 12em;
  padding-left: 1em;
  vertical-align: middle;
  background-color: #85d8ff;
  border-radius: 0.3em;
  border: #003B3D;
  color: #003B3D;
  box-shadow: 0px 2px 2px #003B3D;
}